<ion-header>
  <ion-toolbar>
    <ion-title>Для продолжения нам понадобятся ваши некоторые данные!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      Оставьте ваш номер, мы вам
      перезвоним
    </ion-card-content>
  </ion-card>
  <!--Форма отправки данных-->
  <form (ngSubmit)="logForm()">
    <ion-item>
      <!--Метка-->
      <ion-label>Todo</ion-label>
      <!--Сбор данных с помощью атрибут ngModel-->
      <ion-input type="text" [(ngModel)]="todo.title" name="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <!--Сбор данных с помощью атрибут ngModel-->
      <ion-textarea [(ngModel)]="todo.description" name="description"></ion-textarea>
    </ion-item>
    <!--кнопка отправки-->
    <ion-button type="submit" block>Add Todo</ion-button>
  </form>
</ion-content>
