<ion-header>
  <ion-toolbar>
    <ion-title>Для продолжения нам понадобятся ваши некоторые данные!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      Оставьте свой номер, и мы вам
      перезвоним
    </ion-card-content>
  </ion-card>
  <!--Форма отправки данных-->
  <form (ngSubmit)="logForm()">
    <ion-item>
      <!--Сбор данных с помощью атрибут ngModel-->
      <ion-input type="tel" pattern="[0-9]*" name="title" placeholder="Телефон"></ion-input>
    </ion-item>
    <ion-item>
      <!--Сбор данных с помощью атрибут ngModel-->
      <ion-textarea  name="description" placeholder="Имя"></ion-textarea>
    </ion-item>
    <!--кнопка отправки-->
    <ion-button type="submit" block>Заказать обратный звонок</ion-button>
  </form>
</ion-content>
