<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      <ion-title>
        Для продолжения нам понадобятся ваши некоторые данные!
      </ion-title>
      <ion-card-subtitle>
        Оставьте свой номер, и мы вам
        перезвоним
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <!--Форма отправки данных-->
  <form (ngSubmit)="logForm()">
    <ion-item>
      <!--Сбор данных с помощью атрибут ngModel-->
      <ion-input type="tel" pattern="[0-9]*" name="title" placeholder="Телефон" [ngModel]="phonenumber" [brmasker]="{len:15,mask:'(000) 000 00 00'}">+7</ion-input>
    </ion-item>
    <ion-item>
      <!--Сбор данных с помощью атрибут ngModel-->
      <ion-input type="text"  name="description" placeholder="Имя" [ngModel]="description"></ion-input>
    </ion-item>
    <!--кнопка отправки-->
    <ion-button type="submit" block (submit)="logForm()">Заказать обратный звонок</ion-button>
  </form>
</ion-content>
