<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>Великобритания</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h2><span style="color:#000033;">Для туристической визы:</span></h2>

  <h3><span style="color:#000033;">Для оформления требуются следующие документы:</span></h3>

  <ul>
    <li>
      <p><span style="font-size:16px;"><span style="color:#000033;">Действующий заграничный паспорт;</span></span></p>
    </li>
    <li>
      <p><span style="font-size:16px;"><span style="color:#000033;">Копии предыдущих виз;</span></span></p>
    </li>
    <li>
      <p><span style="font-size:16px;"><span style="color:#000033;">Анкета (заполняется в Jakub Tour);</span></span></p>
    </li>
    <li>
      <p><span style="font-size:16px;"><span style="color:#000033;">Актуальное фото 1 шт, размер 3,5х4,5 см на белом фоне;</span></span></p>
    </li>
    <li>
      <p><span style="font-size:16px;"><span style="color:#000033;">Бронирование гостиницы на весь период пребывания (делается в Jakub Tour);</span></span></p>
    </li>
    <li>
      <p><span style="font-size:16px;"><span style="color:#000033;">Бронирование авиабилета в оба конца (делается в Jakub Tour);</span></span></p>
    </li>
    <li>
      <p><span style="font-size:16px;"><span style="color:#000033;">Справка с места работы на фирменном бланке компании с указанием должности, заработной платы и периода работы (на английском языке, либо перевод на английский язык);</span></span></p>
    </li>
  </ul>

  <p><span style="font-size:16px;"><span style="color:#000033;">а) Для обладателей собственного бизнеса:&nbsp;свидетельство о регистрации ИП или ТОО, справка об отсутствии задолженности по налогам (на английском языке, либо перевод на английский язык);</span></span></p>

  <p><span style="font-size:16px;"><span style="color:#000033;">б) Для школьников и студентов:&nbsp;справка с учебного заведения (на английском языке, либо перевод на английский язык);</span></span></p>

  <p><span style="font-size:16px;"><span style="color:#000033;">в)&nbsp;Для пенсионеров:&nbsp;пенсионное удостоверение&nbsp;(на английском языке, либо перевод на английский язык);</span></span></p>

  <ul>
    <li>
      <p><span style="font-size:16px;"><span style="color:#000033;">Приказ об отпуске (если применимо) (на английском языке, либо перевод на английский язык);</span></span></p>
    </li>
    <li>
      <p><span style="font-size:16px;"><span style="color:#000033;">Справка с банка о наличии денежных средств из расчета 100 евро на день пребывания (на английском языке, либо перевод на английский язык);</span></span></p>
    </li>
    <li>
      <p><span style="font-size:16px;"><span style="color:#000033;">Выписка со счета за последние 3-6 месяцев;</span></span></p>
    </li>
    <li>
      <p><span style="font-size:16px;"><span style="color:#000033;">Копии личных документов: свидетельство о браке/разводе, свидетельство о рождении несовершеннолетних детей (на английском языке, либо перевод на английский язык);</span></span></p>
    </li>
    <li>
      <p><span style="font-size:16px;"><span style="color:#000033;">Адресная справка (на английском языке, либо перевод на английский язык);</span></span></p>
    </li>
    <li>
      <p><span style="font-size:16px;"><span style="color:#000033;">Медицинский страховой полис (оформляется в Jakub Tour).&nbsp;</span></span></p>
    </li>
  </ul>

  <p>&nbsp;</p>

  <p><span style="color:#000033;"><strong>Для&nbsp;гостевой визы&nbsp;требуются все выше перечисленные документы, а также:</strong></span></p>

  <ul>
    <li>
      <p><span style="font-size:16px;"><span style="color:#000033;">Приглашение от человека, находящегося в Великобритании в свободной форме с указанием срока и цели поездки на английском языке;</span></span></p>
    </li>
    <li>
      <p><span style="font-size:16px;"><span style="color:#000033;">Копия паспорта приглашающего лица;</span></span></p>
    </li>
    <li>
      <p><span style="font-size:16px;"><span style="color:#000033;">Подтверждение родственной связи (если применимо)&nbsp;(на английском языке, либо перевод на английский язык);.</span></span></p>
    </li>
  </ul>

  <p>&nbsp;</p>

  <p><span style="color:#000033;"><strong>Для&nbsp;деловой визы&nbsp;требуются все выше перечисленные документы, а также:</strong></span></p>

  <ul>
    <li>
      <p><span style="font-size:16px;"><span style="color:#000033;">Приглашение от организации, которая находится в Великобритании в свободной форме с указанием срока и цели поездки на английском языке;</span></span></p>
    </li>
    <li>
      <p><span style="font-size:16px;"><span style="color:#000033;">Приказ о командировании&nbsp;(на английском языке, либо перевод на английский язык);</span></span></p>
    </li>
  </ul>

  <p><span style="font-size:16px;"><span style="color:#000033;">Для заявителей, не достигших 18-ти летнего возраста так же потребуется:&nbsp;</span></span></p>

  <ul>
    <li>
      <p><span style="font-size:16px;"><span style="color:#000033;">Свидетельство о рождении переведённое на английский язык;</span></span></p>
    </li>
    <li>
      <p><span style="font-size:16px;"><span style="color:#000033;">Нотариально заверенное разрешение от не сопровождающего родителя (на английском языке, либо перевод на английский язык нотариально заверенный);</span></span></p>
    </li>
    <li>
      <p><span style="font-size:16px;"><span style="color:#000033;">Копии паспортов обоих родителей.</span></span></p>
    </li>
  </ul>

  <div>
    <p><span style="font-size:16px;"><span style="color:#000033;">Срок оформления:&nbsp;15 рабочих дней</span></span></p>

    <p><span style="font-size:16px;"><span style="color:#000033;">Имеется срочный вид оформлении от 1 до 5 дней&nbsp;</span></span></p>

    <p>&nbsp;</p>

    <p><span style="font-size:16px;"><span style="color:#000033;">*Личное присутствие обязательно!</span></span></p>

    <p><span style="font-size:16px;"><span style="color:#000033;">*Все документы предоставляются в оригинале.</span></span></p>

    <p><span style="font-size:16px;"><span style="color:#000033;">*Консульский отдел Великобритании оставляет право запросить дополнительные документы, а также продлить срок рассмотрения визы!</span></span></p>
  </div>
</ion-content>
