<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
<!--    Добавлена кнопка назад на страницах всех стран-->
        </ion-buttons>
        <ion-title>Австралия</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding="true">
<!--Заполнен контент на каждой стране-->
    <h2><span style="color:#000033;">Туристическая виза в Австралию:</span></h2>
    <h3><span style="color:#000033;">Для оформления требуются следующие документы:</span></h3>
    <p><span style="color:#000033;"><span style="font-size:16px;">Список документов необходимых для оформления визы в Австралию:</span></span>
    </p>
    <p><span style="color:#000033;"><strong>Для&nbsp;туристической визы:</strong></span></p>
    <ul>
        <li><span style="color:#000033;"><span style="font-size:16px;">Действующий заграничный паспорт;</span></span>
        </li>
        <li><span style="color:#000033;"><span style="font-size:16px;">Копии предыдущих виз;</span></span></li>
        <li><span style="color:#000033;"><span style="font-size:16px;">Анкета (заполняется в Jakub Tour);</span></span>
        </li>
        <li><span style="color:#000033;"><span style="font-size:16px;">Актуальное фото 1 шт, размер 3,5х4,5 см на белом фоне;</span></span>
        </li>
        <li><span style="color:#000033;"><span
                style="font-size:16px;">Бронирование гостиницы на весь период пребывания;</span></span></li>
        <li><span style="color:#000033;"><span style="font-size:16px;">Бронирование авиабилета в оба конца (делается в Jakub Tour);</span></span>
        </li>
        <li><span style="color:#000033;"><span style="font-size:16px;">Справка с места работы на фирменном бланке компании с указанием должности, заработной платы и периода работы (на английском языке, либо перевод нотариально заверенный);</span></span>
        </li>
    </ul>
    <p><span style="color:#000033;"><span style="font-size:16px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; а) Для обладателей собственного бизнеса: свидетельство о регистрации ИП или ТОО, справка об отсутствии задолженности по налогам (на английском языке, либо перевод нотариально заверенный);</span></span>
    </p>

    <p><span style="color:#000033;"><span style="font-size:16px;">б) Для школьников и студентов:&nbsp;справка с учебного заведения (на английском языке, либо перевод нотариально заверенный);</span></span>
    </p>

    <p><span style="color:#000033;"><span style="font-size:16px;">в)&nbsp;Для пенсионеров:&nbsp;пенсионное удостоверение (на английском языке, либо перевод нотариально заверенный);</span></span>
    </p>
    <ul>
        <li><span style="color:#000033;"><span style="font-size:16px;">Приказ об отпуске (если применимо) (на английском языке, либо перевод нотариально заверенный);</span></span>
        </li>
        <li><span style="color:#000033;"><span style="font-size:16px;">Справка с банка о наличии денежных средств из расчета 100 евро на день пребывания (на английском языке, либо перевод нотариально заверенный);</span></span>
        </li>
        <li><span style="color:#000033;"><span
                style="font-size:16px;">&nbsp; Выписка со счета за последние 3-6 месяцев;</span></span></li>
        <li><span style="color:#000033;"><span style="font-size:16px;">Копии личных документов: свидетельство о браке/разводе, свидетельство о рождении&nbsp; &nbsp; &nbsp; &nbsp;несовершеннолетних детей (на английском языке, либо перевод нотариально заверенный);</span></span>
        </li>
        <li><span style="color:#000033;"><span style="font-size:16px;">&nbsp;Адресная справка (на английском языке, либо перевод нотариально заверенный);;</span></span>
        </li>
        <li><span style="color:#000033;"><span style="font-size:16px;">Медицинский страховой полис (оформляется в Jakub Tour).&nbsp;</span></span>
        </li>
    </ul>
    <p><span style="color:#000033;"><strong>Для&nbsp;гостевой визы&nbsp;требуются все выше перечисленные документы, а также:</strong></span>
    </p>

    <ul>
        <li><span style="font-size:16px;"><span style="color:#000033;">Приглашение от человека, находящегося в Австралии;</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">Копия паспорта приглашающего лица;</span></span>
        </li>
        <li><span style="font-size:16px;"><span
                style="color:#000033;">Подтверждение родственной связи (если применимо).</span></span></li>
    </ul>

    <p><span style="color:#000033;"><strong>Для&nbsp;деловой визы&nbsp;требуются все выше перечисленные документы, а также:</strong></span>
    </p>
    <ul>
        <li><span style="font-size:16px;"><span style="color:#000033;">Приглашение от организации, которая находится в Австралии;</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">Письмо-поддержка от работодателя с описанием причины поездки и предполагаемой деловой деятельности в Австралии (на английском языке, либо перевод нотариально заверенный);</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">Письмо, подтверждающее соответствующие квалификации, регистрацию или членство в профессиональных ассоциациях.</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">Приказ о командировании (на английском языке, либо перевод нотариально заверенный).</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">Для заявителей, не достигших 18-ти летнего возраста так же потребуется:&nbsp;</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">Свидетельство о рождении переведённое на английский язык и нотариально заверенное;</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">Нотариально заверенное разрешение от не сопровождающего родителя (на английском языке, либо перевод нотариально заверенный);</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">Копии паспортов обоих родителей.</span></span>
        </li>
    </ul>
    <p><span style="color:#000033;"><strong>Срок оформления:&nbsp;30 дней</strong></span></p>

    <p><span style="font-size:16px;"><span style="color:#000033;">*Личное присутствие не требуется!</span></span></p>

    <p><span style="font-size:16px;"><span
            style="color:#000033;">*Все документы предоставляются в оригинале.</span></span></p>

    <p><span style="font-size:16px;"><span style="color:#000033;">*Консульство Австралии оставляет право запросить дополнительные документы, а также продлить срок рассмотрения визы!</span></span>
    </p>

</ion-content>
