<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
        </ion-buttons>
        <ion-title>Болгария</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>


    <h2><span style="color:#000033;">Для туристической визы:</span></h2>

    <h3><span style="color:#000033;">Для оформления требуются следующие документы:</span></h3>

    <ul>
        <li><span style="font-size:16px;"><span style="color:#000033;">Действующий заграничный паспорт;</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">Копии предыдущих виз в Болгарию и Шенген зону за последние 3 года;</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">Анкета (заполняется в Jakub Tour);</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">Актуальное фото 1 шт, размер 3,5х4,5 см на белом фоне;</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">Ваучер от гостиницы на весь период пребывания на болгарском языке;</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">Бронирование авиабилета в оба конца (делается в Jakub Tour);</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">&nbsp;Справка с места работы на фирменном бланке компании с указанием должности, заработной платы и периода работы;</span></span>
        </li>
    </ul>

    <div><span style="font-size:16px;"><span style="color:#000033;">а) Для обладателей собственного бизнеса: свидетельство о регистрации ИП или ТОО, справка об отсутствии задолженности по налогам;</span></span>
    </div>

    <div><span style="font-size:16px;"><span style="color:#000033;">б) Для школьников и студентов: справка с учебного заведения;</span></span>
    </div>

    <div><span style="font-size:16px;"><span style="color:#000033;">в) Для пенсионеров: пенсионное удостоверение;</span></span>
    </div>

    <ul>
        <li><span style="font-size:16px;"><span style="color:#000033;">Приказ об отпуске (если применимо);</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">Справка с банка о наличии денежных средств из расчета 100 евро на день пребывания;</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">Выписка со счета за последние 3-6 месяцев;</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">Копии личных документов: свидетельство о браке/разводе, свидетельство о рождении несовершеннолетних детей;&nbsp;</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">Адресная справка;</span></span></li>
        <li><span style="font-size:16px;"><span style="color:#000033;">Медицинский страховой полис (оформляется в Jakub Tour).&nbsp;</span></span>
        </li>
    </ul>



    <h2><span style="color:#000033;">Для гостевой визы требуются все выше перечисленные документы, а также:</span></h2>



    <ul>
        <li><span style="font-size:16px;"><span style="color:#000033;">Письмо-приглашение от болгарского физического лица (оригинал и копия);&nbsp;</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">Копия документа, удостоверяющего личность приглашающего лица.&nbsp;</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">Доказательство родства (для близких родственников, если подали на многократную визу);&nbsp;</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">Необходимые документы в подтверждении финансовых средств на главной странице.</span></span>
        </li>
    </ul>



    <h2><span style="color:#000033;">Для деловой визы требуются все выше перечисленные документы, а так же:</span></h2>



    <ul>
        <li><span style="font-size:16px;"><span style="color:#000033;">Письмо-приглашение от Болгарского юридического лица (оригинал и копия);</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">Письмо от приглашающей или отправляющей компании, ясно указывающей цель поездки;</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">Рекомендательное письмо от данной Болгарской компании или копия контракта, которая</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">доказывает, совместную деловую деятельность и намерении, связанную с предстоящей поездкой - если подаётся на многократную визу;</span></span>
        </li>
        <li><span style="font-size:16px;"><span
                style="color:#000033;">Приказ о командировании от работодателя.</span></span></li>
    </ul>


    <h2><span style="color:#000033;">Для обладателей недвижимости в Болгарии требуются все выше перечисленные документы, а также:</span>
    </h2>

    <ul>
        <li><span style="font-size:16px;"><span style="color:#000033;">Владельцы недвижимости, его супруга / супруги и дети до 18 лет (другие люди, которые</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">предоставляют Нотариальный Акт, также могут получить однократную визу). Для этого</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">необходимо нотариально заверенную доверенность, позволяющую им жить в собственности в течение необходимого периода:</span></span>
        </li>
        <li><span style="font-size:16px;"><span
                style="color:#000033;">Оригинал и копия нотариального акта;</span></span></li>
        <li><span style="font-size:16px;"><span style="color:#000033;">Документы, подтверждающие, что налоги и сборы за предыдущий год были выплачены (если подавали на многократную визу);</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">Свидетельство о вводе в эксплуатацию (акт 16) или акта 15, если это четко указано в</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">нотариальном акте о том, что это имущество под строительство.</span></span>
        </li>
    </ul>


    <h2><span style="color:#000033;">Для спортивного, культурного посещения Болгарии или с целью обучения:&nbsp;</span>
    </h2>

    <ul>
        <li><span style="font-size:16px;"><span style="color:#000033;">Письмо-приглашение от приглашающей организации / партии с подписью и печатью;</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">Командировочное предписание от казахстанской организации – в случаи, что будет приказ о командировки.</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">Документ, подтверждающий занятость, которое должно быть оформлено на официальном бланке с печатью, адресом и номером телефона, должности и заработной платы заявителя.</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">Или любые другие документы о финансовом подтверждении на главной странице.</span></span>
        </li>
    </ul>


    <h2><span
            style="color:#000033;">Для заявителей, не достигших 18-ти летнего возраста так же потребуется:&nbsp;</span>
    </h2>

    <ul>
        <li><span style="font-size:16px;"><span style="color:#000033;">Свидетельство о рождении;</span></span></li>
        <li><span style="font-size:16px;"><span style="color:#000033;">Нотариально заверенное разрешение от не сопровождающего родителя;</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">Копии паспортов и удостоверении личностей обоих родителей.</span></span>
        </li>
    </ul>



    <div><span style="font-size:16px;"><span
            style="color:#000033;">Срок оформления:&nbsp;от 7 рабочих дней</span></span></div>

    <div><span style="font-size:16px;"><span style="color:#000033;">&nbsp; &nbsp;&nbsp;</span></span></div>

    <div><span style="font-size:16px;"><span style="color:#000033;">*Если заявитель обращается в первый раз личное присутствие обязательно.</span></span>
    </div>

    <div><span style="font-size:16px;"><span style="color:#000033;">*Все документы подаются в оригинале.</span></span>
    </div>

    <div><span style="font-size:16px;"><span style="color:#000033;">*Консульский отдел Болгарии оставляет право запросить дополнительные документы, а также продлить срок рассмотрения визы!</span></span>
    </div>
</ion-content>
