

<ion-content padding>
<div id="authorization">Авторизация</div>
<ion-list>

  <ion-item-sliding>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item-sliding>
  <ion-item-sliding>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item-sliding>
</ion-list>
  <ion-button fill="solid" expand="block" color="secondary" (click)="login()">Войти</ion-button>
</ion-content>
