<ion-header>
    <ion-toolbar>
        <ion-title *ngIf="!isSearchbarOpened">
            Список стран
        </ion-title>
<ion-searchbar *ngIf="isSearchbarOpened"  animated placeholder="Поиск"
               autocorrect="on" autocomplete="on"
               showCancelButton="true" (ionCancel)="isSearchbarOpened=false" (input)="getItems($event)" ></ion-searchbar>
        <ion-buttons slot="end">
            <ion-button *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true">
                <ion-icon name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
        <!--Добавлен поиск страны-->
    </ion-toolbar>
</ion-header>
<ion-content padding="true">
    <!--Изменены иконки и установлены метки для стран, добавлена функция навигации по странам-->
    <ion-list>
        <ion-item *ngFor="let name of names,let i=index, let j=index">
            <ion-thumbnail>
                <ion-img [src]="images[i]"></ion-img>
            </ion-thumbnail>
            <label (click)="toCountry(nav_countryes[j])">{{name}}</label>
        </ion-item>

    </ion-list>
</ion-content>
