<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/paint.jpg" > </ion-img>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title id="welcome">Управляй своей жизнью!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Оформляем визы во все страны мира. Визовый центр компании "Jakub Tour" оказывает помощь в оформлении виз практически во все страны мира. При этом мы не только оказываем консультационные услуги по порядку оформления виз, но и берем на себя все хлопоты по процессу оформления. Вам не придется изучать десятки сайтов, звонить в посольства и консульства с целью узнать необходимый пакет документов. Вам не нужно будет стоять в очередях в консульствах и визовых центрах, переводить и заверять десятки документов - все эти хлопоты мы берем на себя. Будь то виза в Китай, виза в Японию, виза в США или виза в Англию - мы вам поможем!</p>
      </ion-card-content>
    </ion-card>
  <ion-button color="tertiary" (click)="sendEmail()"> Получить консультацию </ion-button>
</ion-content>
