<ion-header>
  <ion-toolbar>
    <ion-title>
      Обратная связь
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      Добро пожаловать! На данной страничке вы можете оставить заявку на трудоустройство
      зарубежом!
    </ion-card-content>
  </ion-card>
  <ion-item> 
    <!-- Кнопка выбора страны -->
    <ionic-selectable  [(ngModel)]="select" [items]="selects" placeholder="Выбор Страны" [canSearch]="true"
                  itemValueField="id" itemTextField="name"
                       (onChange)="countryChange($event)"></ionic-selectable>
   
  </ion-item>
  <ion-item>
    <!-- Текстовое поле для комментариев к заявке -->
    <ion-textarea placeholder="Введите комментарий 
  к заявке на трудоустройство зарубежом"  [(ngModel)]="message" name="message">
  </ion-textarea>
  </ion-item>
  <ion-item>
    <ion-button (click)="sendEmail()">
      <!-- Кнопка с волновым эффектом -->
      <ion-ripple-effect></ion-ripple-effect>
     Оставить заявку
    </ion-button>
  </ion-item>

</ion-content>
