<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
        </ion-buttons>
        <ion-title>Бельгия</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>


    <h2><span style="color:#000033;">Для туристической визы:</span></h2>

    <h3><span style="color:#000033;">Для оформления требуются следующие документы:</span></h3>

    <ul>
        <li><span style="color:#000033;">&nbsp;<span
                style="font-size:16px;">Действующий заграничный паспорт;</span></span></li>
        <li><span style="font-size:16px;"><span style="color:#000033;">&nbsp;Копии предыдущих виз в Шенген зону за последние 3 года;</span></span>
        </li>
        <li><span style="font-size:16px;"><span
                style="color:#000033;">&nbsp;Анкета (заполняется в Jakub Tour);</span></span></li>
        <li><span style="font-size:16px;"><span style="color:#000033;">&nbsp;Актуальное фото 1 шт, размер 3,5х4,5 см на белом фоне;</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">&nbsp;Бронирование гостиницы на весь период пребывания (делается в Jakub Tour);</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">&nbsp;Бронирование авиабилета в оба конца (делается в Jakub Tour);</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">&nbsp;Справка с места работы на фирменном бланке компании с указанием должности, заработной платы и периода работы;</span></span>
        </li>
    </ul>

    <div><span style="font-size:16px;"><span style="color:#000033;">а) Для обладателей собственного бизнеса: свидетельство о регистрации ИП или ТОО, справка об отсутствии задолженности по налогам;</span></span>
    </div>

    <div><span style="font-size:16px;"><span style="color:#000033;">б) Для школьников и студентов: справка с учебного заведения;</span></span>
    </div>

    <div><span style="font-size:16px;"><span style="color:#000033;">в) Для пенсионеров: пенсионное удостоверение;</span></span>
    </div>

    <ul>
        <li><span style="font-size:16px;"><span style="color:#000033;">&nbsp;Приказ об отпуске (если применимо);</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">&nbsp;Справка с банка о наличии денежных средств из расчета 100 евро на день пребывания;</span></span>
        </li>
        <li><span style="font-size:16px;"><span
                style="color:#000033;">&nbsp;Выписка со счета за последние 3-6 месяцев;</span></span></li>
        <li><span style="font-size:16px;"><span style="color:#000033;">&nbsp;Копии личных документов: свидетельство о браке/разводе, свидетельство о рождении несовершеннолетних детей;</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">&nbsp;Адресная справка;</span></span></li>
        <li><span style="font-size:16px;"><span style="color:#000033;">&nbsp;Медицинский страховой полис (оформляется в Jakub Tour ).</span></span>
        </li>
    </ul>


    <h2><span style="color:#000033;">Для заявителей, не достигших 18-ти летнего возраста так же потребуется:</span></h2>

    <ul>
        <li><span style="font-size:16px;"><span style="color:#000033;">Свидетельство о рождении оригинал + копия;</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">Нотариально заверенное разрешение от не сопровождающего родителя с примечанием «В страны Шенгенского соглашения, в том числе Австрия».</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">Копии паспортов и удостоверении личностей обоих родителей.</span></span>
        </li>
    </ul>


    <h2><span style="color:#000033;">Для гостевой визы требуются все выше перечисленные документы, а так же:</span></h2>

    <ul>
        <li><span style="font-size:16px;"><span style="color:#000033;">Электронное приглашение (EVE: Verpflichtungserklaerungen), делается в органах Полиции по делам иностранцев в Австрии (иммиграционная полиция) либо в окружном управлении в течение 48-72 часов. Заявителю при подаче документов нужно только указать его номер (TSE+ 8 цифр);</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">Копия паспорта, визы, ПМЖ или регистрации референта (приглашающей стороны);</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">Документ подтверждающий родственную связь (если применимо).</span></span>
        </li>
    </ul>


    <h2><span style="color:#000033;">Для деловой визы требуются все выше перечисленные документы, а также:</span></h2>

    <ul>
        <li><span style="font-size:16px;"><span style="color:#000033;">Оригинал (+ копия) электронного приглашения (EVE: Verpflichtungserklaerungen), делается в органах Полиции по делам иностранцев в Австрии (иммиграционная полиция) либо в окружном управлении в течение 48-72 часов. Заявителю при подаче документов нужно только указать его номер (TSE+ 8 цифр); или оригинал (+ копия) пригласительного письма(Generalverpflichtungserklaerung), который должен содержать номер формата: BMI-FW1852/XXXX-II/3/XXXX (имя, должность и контактные данные приглашающей и приглашенной стороны также должны быть указаны). Если приглашение составлено не на английском, венгерском или русском языках, то его перевод на английский язык.</span></span>
        </li>
        <li><span style="font-size:16px;"><span
                style="color:#000033;">Приказ о командировании от работодателя.</span></span></li>
    </ul>


    <h2><span style="color:#000033;">Для медицинской визы все выше перечисленные документы, а также:</span></h2>

    <ul>
        <li><span style="font-size:16px;"><span style="color:#000033;">Оригинал (+ копия) письма-подтверждения от лечебного учреждения с указанием срока лечения, проживания, предположительной стоимости лечения и, при необходимости, подтверждение о том, что оплата за лечение гарантирована или уже произведена. Если подтверждение написано не на английском, венгерском или русском языках, то его перевод на английский язык.</span></span>
        </li>
        <li><span style="font-size:16px;"><span style="color:#000033;">Заключение лечащего врача из Казахстана, содержащее информацию о природе и характере заболевания, обоснование и мотивы для лечения заграницей (оригинал + копия).</span></span>
        </li>
    </ul>


    <p><span style="color:#000033;"><strong>Срок оформления:&nbsp;5 рабочих дней</strong><br>
<span style="font-size: 1.0833em;">&nbsp; &nbsp; &nbsp;</span></span></p>


    <span style="font-size:16px;"><span style="color:#000033;">*Если заявитель обращается в первый раз личное присутствие обязательно.</span></span>


    <p><span style="font-size:16px;"><span style="color:#000033;">*Все документы подаются в оригинале.<br>
*Генеральное Консульство оставляет право запросить дополнительные документы, а также продлить срок рассмотрения визы!</span></span>
    </p>
</ion-content>
